{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horário de Aulas</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      function fetchWeatherData() {
        $.ajax({
          url: "{% url 'home' %}", // URL da sua view Django que retorna os dados da API
          method: "GET",
          success: function (data) {
            if (data.error) {
              console.error(data.error);
            } else {
              // Verifica no console o retorno da API
              console.log("Dados retornados: ", data);

              // Atualiza os campos de temperatura do dia atual
              $("#today-temp").html(`${data.temp_min}°/${data.temp_max}°`);

              // Atualiza os campos de temperatura do dia seguinte
              if (data.temp_min_tomorrow && data.temp_max_tomorrow) {
                $("#tomorrow-temp").html(
                  `${data.temp_min_tomorrow}°/${data.temp_max_tomorrow}°`
                );
              } else {
                $("#tomorrow-temp").html("Dados indisponíveis");
              }

              let horaMinutos = new Date(data.agora).toLocaleTimeString([], {
                hour: "2-digit",
                minute: "2-digit",
              });

              // Atualiza o campo de hora
              $("#time").html(horaMinutos);
            }
          },
          error: function () {
            console.error("Erro ao obter dados da API.");
          },
        });
      }

      $(document).ready(function () {
        fetchWeatherData(); // Faz a primeira chamada quando a página carrega
        setInterval(fetchWeatherData, 30000); // Atualiza a cada 30 segundos
      });
    </script>
  </head>

  <body
    class="flex space-between"
    style="background-image: url({%static 'src/banners/background.png' %})"
  >
    <div class="left-column">
      <div class="left-window">
        <video
          width="100%"
          height="100%"
          controls
          autoplay
          src="{% static 'animation/Carregamento.mp4' %}"
        ></video>
      </div>

      <div class="description flex column">
        <div class="textbox flex column">
          <h3>Titulo auxiliar 18pt</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            semper iaculis vulputate. Cras vel enim aliquet, commodo velit eu,
            commodo diam. Integer placerat eget enim quis faucibus. Cras vel en
          </p>
        </div>

        <div class="left-footer footer flex center vcenter">
          <div class="footer-left-text flex center vcenter">{{ data }}</div>

          <div class="footer-left-text flex center vcenter">
            <p id="time">Carregando...</p>
          </div>

          <div class="footer-left-text flex center vcenter">
            <p>Hoje</p>
            <img src="{% static 'src/icons/sun-fill.svg' %}" alt="" />
            <p id="today-temp">Carregando...</p>
            <!-- Aqui vai ser atualizado via JS -->
          </div>
        </div>
      </div>
    </div>

    <div class="divisor flex space-between">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="right-column flex column center">
      <div class="right-window flex center">
        <div class="background flex center vcenter">
          <div class="background-red"></div>
          <div class="background-org"></div>
          <div class="background-ylw"></div>
          <div class="small-window">
            {% with notice_index=2 %} 
              {% for notice in notices %} 
                  {% if forloop.counter0 == notice_index %}
                      {% if notice.imagem %}
                          <img src="{{ notice.imagem.url }}" alt="{{ notice.subject }}">
                      {% else %}
                          <p>Sem imagem disponível</p>
                      {% endif %}
                  {% endif %} 
              {% endfor %} 
            {% endwith %}  
          </div>
        </div>
      </div>

      <div class="textbox flex column">
        {% with notice_index=2 %} 
          {% for notice in notices %} 
            {% if forloop.counter0 == notice_index %}
              <h1>{{ notice.subject }}</h1>
              <p>{{ notice.content }}</p>     
            {% endif %} 
          {% endfor %} 
        {% endwith %}
      </div>

      <img
        class="fatec-banner"
        src="{% static 'src/banners/FatecCarapicuiba_Marca_Branca_Cor_SombraLateral.png' %}"
        alt=""
      />

      <div class="footer flex center vcenter">
        <p>Amanhã</p>
        <img src="{% static 'src/icons/umbrella-simple-fill.svg' %}" alt="" />
        <p id="tomorrow-temp">Carregando...</p>
        <!-- Aqui também vai ser atualizado via JS -->
      </div>
    </div>
  </body>
</html>
