{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Horário de Aulas</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script type="text/javascript">
    let noticeIndex = 0;
    let home = "{% url 'home' %}"
    let icons = "{% static 'src/icons/' %}"

    $(document).ready(function () {
      // Carregar e atualizar os dados do clima e das notícias
      fetchWeatherData();
      fetchNoticeData();

      // Atualizar o clima e as notícias a cada 30 segundos
      setInterval(fetchWeatherData, 5000);
      setInterval(fetchNoticeData, 30000);

      // Chamar a função para definir a posição inicial do timeline
      updateTimelinePosition();
      // Posicionar os marcadores de horário
      positionHourMarkers();
      setInterval(updateTimelinePosition, 60000);
    });
</script>
<script src="{% static 'js/weather.js' %}"></script>
<script src="{% static 'js/notices.js' %}"></script>
<script src="{% static 'js/timeline.js' %}"></script>

</head>

<body class="flex space-between" style="background-image: url({% static 'src/banners/background.png' %})">
  <div class="left-column">
    <div class="left-window">
      <!-- <video width="100%" height="100%" controls autoplay src="{% static 'animation/Carregamento.mp4' %}"></video> -->
      <div class="horario">
        <div class="horario-header flex">
          <img src="{% static "src/icons/desktop.svg" %}" alt="">
          <h2>Análise e Desenvolvimento de Sistemas (ADS)</h2>
        </div>

         <div class="horario-table flex">
            <div class="semesters flex">
              <h2>1° Semestre</h2>
              <h2>2° Semestre</h2>
              <h2>3° Semestre</h2>
              <h2>4° Semestre</h2>
              <h2>5° Semestre</h2>
              <h2>6° Semestre</h2>
            </div>

            <div class="hours">
              <div class="hour-line">
                <div id ="divisor-line"></div>
                <div id="timeline">

                </div>
                <div class="hour-list flex">
                  <p class="hour-marker" id="hour1">13:50</p>
                  <p class="hour-marker" id="hour2">14:30</p>
                  <p class="hour-marker" id="hour3">15:00</p>
                  <p class="hour-marker" id="hour4">16:10</p>
                  <p class="hour-marker" id="hour5">17:20</p>
                </div>
              </div>
              <div class="class-line">
                <div class="classes flex">

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.0.professor }} - Sala {{ materias.0.sala }}</p>
                    </div>
                  </div>

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.1.professor }} - Sala {{ materias.1.sala }}</p>
                    </div>
                  </div>

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.2.professor }} - Sala {{ materias.2.sala }}</p>
                    </div>
                  </div>

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.3.professor }} - Sala {{ materias.3.sala }}</p>
                    </div>
                  </div>

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.4.professor }} - Sala {{ materias.4.sala }}</p>
                    </div>
                  </div>

                  <div class="class-line">
                    <div class="class">
                      <p>{{ materias.5.professor }} - Sala {{ materias.5.sala }}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

         </div>
      </div>
    </div>

    <div class="description flex column">
      <div class="textbox flex column">
        {% with notice_index=0 %}
        {% for notice in notices %}
        {% if forloop.counter0 == notice_index %}
        <h3>{{ notice.category }}</h3>
        <p>{{ notice.content }}</p>
        {% endif %}
        {% endfor %}
        {% endwith %}
      </div>

      <div class="left-footer footer flex center vcenter">
        <div class="footer-left-text flex center vcenter">{{ data }}</div>

        <div class="footer-left-text flex center vcenter">
          <p id="time">Carregando...</p>
        </div>

        <div class="footer-left-text flex center vcenter">
          <p>Hoje</p>
          <img id="today-icon" src="{% static 'src/icons/sun-fill.svg' %}" alt="" />
          <p id="today-temp">Carregando...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="divisor flex space-between">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="right-column flex column center">
    <div class="right-window flex center">
      <div class="background flex center vcenter">
        <div class="background-red"></div>
        <div class="background-org"></div>
        <div class="background-ylw"></div>
        <div class="small-window">
          <img src="{% if notices %}{{ notices.0.imagem.url }}{% endif %}"
            alt="{% if notices %}{{ notices.0.subject }}{% endif %}">
        </div>
      </div>
    </div>

    <div class="textbox flex column right">
      {% with notice_index=0 %}
      {% for notice in notices %}
      {% if forloop.counter0 == notice_index %}
      <h1>{{ notice.subject }}</h1>
      <p>{{ notice.content }}</p>
      {% endif %}
      {% endfor %}
      {% endwith %}
    </div>

    <img class="fatec-banner" src="{% static 'src/banners/FatecCarapicuiba_Marca_Branca_Cor_SombraLateral.png' %}"
      alt="" />

    <div class="footer flex center vcenter">
      <p>Amanhã</p>
      <img id="tomorrow-icon" src="{% static '' %}" alt="" />
      <p id="tomorrow-temp">Carregando...</p>
    </div>
  </div>
</body>

</html>
