{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horário de Aulas</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/global.css" %}">
</head>
<body class="flex space-between">
    <div class="left-column">

        <div class="left-window">
            <h1>Teste</h1>
        </div>

        <div class="description flex column">

            <div class="textbox flex column">
                <h3>Titulo auxiliar 18pt</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper iaculis vulputate. Cras vel enim aliquet, commodo velit eu, commodo diam. Integer placerat eget enim quis faucibus. Cras vel en</p>
            </div>

            <div class="left-footer footer flex center vcenter">

                <div class="footer-left-text flex center vcenter">
                    <p>00/00/2000</p>
                </div>

                <div class="footer-left-text flex center vcenter">
                    <p>00:00</p>
                </div>

                <div class="footer-left-text flex center vcenter">
                    <p>Hoje</p>
                    <img src="{% static "src/icons/sun-fill.svg" %}" alt="">
                    <p>{{ temp_min }}°/{{ temp_max }}°</p>
                </div>

            </div>

        </div>

    </div>

    <div class="divisor flex space-between">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <div class="right-column flex column center">

        <div class="right-window flex center">

            <div class="background flex center vcenter">
                <div class="background-red"></div>
                <div class="background-org"></div>
                <div class="background-ylw"></div>
                <div class="small-window">
                    <h1>Titulo</h1>
                </div>
            </div>
        </div>

        <div class="textbox flex column">
            <h1>Titulo Verdana 24pt</h1>
            <p>is simply dummy text of the printing and typesetting industry. Just ignore it</p>
        </div>

        <img class="fatec-banner" src="{% static "src/banners/FatecCarapicuiba_Marca_Branca_Cor_SombraLateral.png" %}" alt="">

        <div class="footer flex center vcenter">
            <p>Amanhã</p>
            <img src="{% static "src/icons/umbrella-simple-fill.svg" %}" alt="">
            <p>{{ temp_min }}°/{{ temp_max }}°</p>
        </div>
    </div>
</body>
</html>
