:root {
    --q1: 1%;
    --q2: 17%;
    --q3: 33%;
    --q4: 49%;
    --q5: 65%;
    --q6: 81%;
    --q7: 97%;
}

body {
    background-size: cover;
}

.left-column {
    width: 65%;
}

.left-column .left-window {
    height: 70%;
    background-color: white;
}

.left-window video {
    object-fit: cover;
}

/* HORÃRIO */

.horario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90%;
}

.horario > *, .semesters > *, .hours > *, .hour-list > *, .class > * {
    font-family: 'Rubik', sans-serif;
}

.horario-header {
    gap: 5rem;
}

.horario-header img {
    padding-left: 5%;
}

.horario-header > h2 {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.horario-table {
    gap: 2rem;
    justify-content: center;
    height: 100%;
}

.horario-table .semesters{
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: end;
}

.semesters h2 {
    font-weight: normal;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    position: relative;
}

#timeline {
    position: absolute;
    height: 100%;
    background-color: #FFA500;
    width: 3px;
    z-index: 3;
}

.hours .hour-line #divisor-line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.hours .hour-list {
    justify-content: space-between;
}

.hour-marker {
    position: absolute;
    transform: translateX(-50%);
}

.classes {
    flex-direction: column;
    gap: 3.75em;
    height: 90%;
}

.class {
    height: 1.9rem;
    display: flex;
    align-items: center;
    /* background-color: #E36B53; */
    background-color: #327EAA;
    border-radius: 5px;
    padding: 0 5px;
    width: 210px;
    justify-content: center;
    color: white;
    position: absolute;
}

.left-column .description {
    height: 30%;
}

.left-footer {
    padding: 0 !important;
    gap: 0 !important;
}

.left-footer .footer-left-text {
    height: 100%;
}

.left-footer .footer-left-text:nth-child(1) {
    width: 35%;
    background-color: #F8231E;
    color: white;
}

.left-footer .footer-left-text:nth-child(2) {
    width: 20%;
    color: white;
    background-color: #FC8211;
}

.left-footer .footer-left-text:nth-child(3) {
    width: 45%;
    gap: 5%;
}

.description .textbox {
    padding: 1rem;
    text-align: center;
    font-size: 16pt;
    gap: .6rem;
    font-weight: lighter;
    color: rgb(212, 212, 212);
}

.description .textbox h3 {
    font-size: 18pt;
    font-weight: bold;
    color: white;
}

/* Divisor */

.divisor {
    width: 3%;
}

.divisor .line {
    width: 33.33%;
    height: 100%;
}

.divisor .line:nth-child(1) {
    background-color: #F8231E;
}

.divisor .line:nth-child(2) {
    background-color: #FC8211;
}

.divisor .line:nth-child(3) {
    background-color: #FFA302;
}


/* Right Column */

.right-column {
    width: 32%;
}

.right-column .right-window {
    width: 100%;
    height: 46%;
}

.right-window .background {
 height: 100%;
 width: 100%;
}

.background-red {
    height: 87%;
    width: 80%;
    background-color: #F8231E;
    margin: 0rem 2rem 1.5rem 0px;
}

.background-org {
    height: 40%;
    width: 25.6%;
    background-color: #FC8211;
    position: fixed;
    margin: 0 1.5rem 1rem 0;
}

.background-ylw {
    height: 40%;
    width: 25.6%;
    background-color: #FFA500;
    position: fixed;
    margin: 0rem .8rem .3rem 0rem;
}

.small-window {
    position: fixed;
    width: 25.6%;
    height: 40%;
    margin: 0.4rem 0rem 0rem 0rem;
    background-color: white;
}

.small-window img {
    width: 100%;
    height: 100%;
}

.right-column .textbox {
    align-self: center;
    background-color: #FFA500;
    width: 85%;
    height: 18%;
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
}

.right-column .textbox > h1 {
    font-size: 24pt;
    color: #021953;
    text-align: center;
}

.right-column .textbox > p {
    font-size: 16pt;
    text-align: center;
}

.fatec-banner {
    align-self: center;
    margin-top: 2rem;
    width: 60%;
}

.footer {
    height: 10vh;
    padding: 0 5rem;
    background-color: gainsboro;
    gap: 10%;
    font-size: 24pt;
    font-weight: bold;
    color: #5D717A;
    margin-top: auto;
}

.left-column, .divisor .left-column {
    height: 100vh;
}

.textbox.flex.column.right {
    max-width: 100%;
    background-color: #FFA500;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
    word-wrap: break-word;
}


.textbox.flex.column.right h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
}

.textbox.flex.column.right p {
    font-size: 16pt;
    line-height: 1.5;
    text-align: center;
    max-width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
}
